/* @import "../../Components/Navbar/Navbar.module.css" */

.navbar {
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 2;
    
}

.navbar > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 0 9%;
    background-color: #04152d;
    border-radius: 50px;
    box-shadow: 0 0 6px 2px white;
}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}


.menu{
    display: flex;
}
.menuitems{
    display: flex;
    gap: 45px;
    list-style: none;
}

.menuBtn{
    display: none;
    
}

.menuitems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
}




@media screen and (max-width : 830px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar > div{
        padding: 10px 14px;
        border-radius: 5px;
    }

    .menu{
        position: absolute;
        right: 0;
        top: 12px;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn{
        display: block;
        cursor: pointer;
        width: 33px;
    }

    .menuitems{
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(60, 110, 203);
        background: linear-gradient(0deg, rgba(25, 5, 109, 0.3) 0%, rgb(84, 45, 241) 100%);
        padding: 24px 33px;
        margin-top: 22px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    }

    .menuopen{
        display: flex;
        z-index: 1;
    }

}


